.family-section {
    display: flex;
    overflow-x: hidden;
    height: 100vh;
  }
  
  .family-content {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 300%;
  }
  
  .family-item {
    scroll-snap-align: start;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }
  